@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif; /* To be changed */
}
.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f9f3f3;
}
.side-bar {
    height: 100vh;
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 2.68rem 0 2rem 0;
    justify-content: space-between;
}
.side-bar-header{
    padding: 0 1.5rem
}
.unity-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    object-fit: cover;
}
.unity-logo {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.new-chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 70px;
    width: 100%;
    padding: 0.8rem 0;
    border: none;
    background-color: #164e41;
}

.new-chat-button:hover {
    background-color: #0e362f;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}   

.new-chat-button p{
    color:white;
    font-size: 1rem;
}

.recent-chats {
    margin-top: 2rem;
    width: 100%;
}

.recent-chats-header{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 1.5rem;
}

.recent-chats-header-text{
    color: #6A6969;
}
.clear-all{
    color: #5661F6;
}

.recent-chat-item{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;

}

.recent-chat-item-title{
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #757575;
}

.recent-chats-list > :nth-child(n+2){
    margin-top: 0.5rem;
}
.recent-chat-item:hover {
    background-color: #F5F5F5;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
}
.side-bar-bottom{
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-button{
    width: 100%;
    border: 2px solid #cecdcd;
    padding: 0.5rem 0.5rem;
    border-radius: 69px;
    display: flex;
    align-items: center;
    color: #757575;
}
.settings-logo-container{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #164e41;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.chat{
    padding: 3.375rem 5.188rem 5.6rem 1.5rem;
    width: 80%; 
}

.message{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.message-sender-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.message-sender-icon-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.message-block{
    background-color: white;
    padding: 1.875rem 1.875rem 1.87rem 2.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}
.message-block p{
    font-size: 18px;
    line-height: 1.5rem;
}

.message-block h1{
    font-size: 28px;
    line-height: 1.5rem;
    color:#164e41;
}